<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button class="btn btn-primary">Add categories</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Belongs to gender</th>
                        <th>Created day</th>
                        <th>Updated day</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Category Name</th>
                        <th>Belongs to gender</th>
                        <th>Created day</th>
                        <th>Updated day</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% category.forEach(function(cate){ %>
                        <tr>
                            <td><a class="show-form-category" href="#" data-toggle="modal" data-target="#exampleModal">
                                    <%=cate.name%>
                                </a></td>
                            <td>
                                <%=cate.Gender.name%>
                            </td>
                            <td>
                                <%=cate.createdAt%>
                            </td>
                            <td>
                                <%=cate.updatedAt%>
                            </td>
                        </tr>
                        <% });%>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Category name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter category name">
                        <small id="emailHelp" class="form-text text-muted">The change will affect other products</small>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <% gender.forEach(function(gen){ %>
                                <option>
                                    <%=gen.name%>
                                </option>
                                <% });%>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="drop-zone">
                            <span class="drop-zone__prompt">Drop file here or click to upload</span>
                            <input type="file" name="myCatFile" class="drop-zone__input">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-warning" role="alert">
    Accept image type only!
</div>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
        $('.show-form-category').on('click', (event) => {
            var catTitle = $(event.target).text()
            $('#exampleModalLabel').text(catTitle)
            $('#exampleInputEmail1').val(catTitle)
        })
        //const dropZoneElement = $('.drop-zone__input').closest('.drop_zone')
        $('.drop-zone').on('dragover', (e) => {
            e.preventDefault()
            $('.drop-zone').addClass("drop-zone--over")
        });
        ["dragleave", "dragend"].forEach(type => {
            $('.drop-zone').on(type, (e) => {
                $('.drop-zone').removeClass("drop-zone--over")
            })
        })
        $('.drop-zone').on('drop', (e) => {
            e.preventDefault();
            e.stopPropagation();
            if (e.originalEvent.dataTransfer && e.originalEvent.dataTransfer.files.length) {
                /*UPLOAD FILES HERE*/
                $('.drop-zone__input').files = e.originalEvent.dataTransfer.files[0]
                updateThumbNail($('.drop-zone'), e.originalEvent.dataTransfer.files[0])
            }
            $('.drop-zone').removeClass('drop-zone--over')
        })
    });

    /**
     * Updates the thumbnail on a drop zone element
     * 
     *  @param {HTMLElement} dropZoneElement
     *  @param {File} file
     * 
     */
    function updateThumbNail(dropZoneElement, file) {
        if (file.type.startsWith("image/")) {
            let thumbnailElement = $('.drop-zone__thumb')
            console.log(file)
            // First time - remove the prompt
            if (dropZoneElement.has(".drop-zone__prompt")) {
                $(".drop-zone__prompt").remove();
            }
            // Second time - there is no thumbnail element, so create it 
            if (!thumbnailElement.length) {
                thumbnailElement = document.createElement("div")
                thumbnailElement.classList.add("drop-zone__thumb")
                dropZoneElement.append(thumbnailElement);
            } 

            thumbnailElement.dataset.label = file.name

            //Show thumbnail for image files
            const reader = new FileReader();
            reader.readAsDataURL(file)
            reader.onload = () => {
                thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
            }
        } else {
            //Display alert
        }
    }
</script>